<template>
    <div class="notification-wrapper">
        <div class="notification alert alert-primary">
           Hello World
        </div>
    </div>
</template>

<script>
    export default {
    data: {
        greeting: 'Welcome to your Vue.js app!',
      }
    }
</script>


<style>
.notification-wrapper {
    position: fixed;
    left: 50%;
    top: 2rem;
    z-index: 10000;
}

.notification {
    position: relative;
    left: -50%;
}
</style>
